**/build/
**/build_debug/
**/output/
**/.vscode/
**/.DS_Store/
.DS_Store
DL_approach/datasets/**
DL_approach/runs/**
data/datasets/single_cards/**
yolo11s.pt
__pycache__/**
data/datasets/YoloDataset/**